<%- include('partials/header')-%>
<h1>Ayoo..</h1>
<p style="font-size: 600px;position: relative;bottom: 200px;z-index: 0;font-weight: bolder;text-align: center;margin: 0%;padding: 0%;"><%= 404 %></p>
<%- include('partials/footer')-%>